<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>1.532</version>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Build:admin</permission>
    <permission>hudson.model.Computer.Build:test1</permission>
    <permission>hudson.model.Computer.Build:test2</permission>
    <permission>hudson.model.Computer.Build:anonymous</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:test1</permission>
    <permission>hudson.model.Computer.Configure:test2</permission>
    <permission>hudson.model.Computer.Configure:anonymous</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Connect:test1</permission>
    <permission>hudson.model.Computer.Connect:test2</permission>
    <permission>hudson.model.Computer.Connect:anonymous</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Create:test1</permission>
    <permission>hudson.model.Computer.Create:test2</permission>
    <permission>hudson.model.Computer.Create:anonymous</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Delete:test1</permission>
    <permission>hudson.model.Computer.Delete:test2</permission>
    <permission>hudson.model.Computer.Delete:anonymous</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.Disconnect:test1</permission>
    <permission>hudson.model.Computer.Disconnect:test2</permission>
    <permission>hudson.model.Computer.Disconnect:anonymous</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:test1</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:test2</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:anonymous</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:test1</permission>
    <permission>hudson.model.Hudson.Read:test2</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.RunScripts:test1</permission>
    <permission>hudson.model.Hudson.RunScripts:test2</permission>
    <permission>hudson.model.Hudson.RunScripts:anonymous</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:test1</permission>
    <permission>hudson.model.Hudson.UploadPlugins:test2</permission>
    <permission>hudson.model.Hudson.UploadPlugins:anonymous</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Build:test1</permission>
    <permission>hudson.model.Item.Build:test2</permission>
    <permission>hudson.model.Item.Build:anonymous</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Cancel:test1</permission>
    <permission>hudson.model.Item.Cancel:test2</permission>
    <permission>hudson.model.Item.Cancel:anonymous</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Configure:test1</permission>
    <permission>hudson.model.Item.Configure:test2</permission>
    <permission>hudson.model.Item.Configure:anonymous</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Create:test1</permission>
    <permission>hudson.model.Item.Create:test2</permission>
    <permission>hudson.model.Item.Create:anonymous</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Delete:test1</permission>
    <permission>hudson.model.Item.Delete:test2</permission>
    <permission>hudson.model.Item.Delete:anonymous</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.Discover:test1</permission>
    <permission>hudson.model.Item.Discover:test2</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Read:test1</permission>
    <permission>hudson.model.Item.Read:test2</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Workspace:test1</permission>
    <permission>hudson.model.Item.Workspace:test2</permission>
    <permission>hudson.model.Item.Workspace:anonymous</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:test1</permission>
    <permission>hudson.model.Run.Delete:test2</permission>
    <permission>hudson.model.Run.Delete:anonymous</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:test1</permission>
    <permission>hudson.model.Run.Update:test2</permission>
    <permission>hudson.model.Run.Update:anonymous</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:test1</permission>
    <permission>hudson.model.View.Configure:test2</permission>
    <permission>hudson.model.View.Configure:anonymous</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:test1</permission>
    <permission>hudson.model.View.Create:test2</permission>
    <permission>hudson.model.View.Create:anonymous</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Delete:test1</permission>
    <permission>hudson.model.View.Delete:test2</permission>
    <permission>hudson.model.View.Delete:anonymous</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.model.View.Read:test1</permission>
    <permission>hudson.model.View.Read:test2</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.scm.SCM.Tag:test1</permission>
    <permission>hudson.scm.SCM.Tag:test2</permission>
    <permission>hudson.scm.SCM.Tag:anonymous</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
</hudson>
